<!-- imagem vai ser posta via css -->

<section>
    <h2>Criar sua própia sala </h2>
    <form action="/create-room" method="POST">
        <!-- Style -->
        <label class="sr-only" for="room-id">Insira uma senha</label>
        <input type="password" name="password" id="room-id" placeholder="Insira uma senha">
        <button>
            <img src="img/users 1.svg" alt="Criar sala">
            Criar sala
        </button>
    </form>
</section>