<section class="noQuestions">
        <img src="/img/noquestion.svg" alt="Cadeado">
        <h3>Nenhuma pergunta por aqui...</h3>
        <p>Faça sua primeira pergunta e envie o <br>código dessa sala para outras pessoas</p>
 
</section>